:root{
    --color1: #0095da;
    --color2: #fff;
	--color3: #132e49;
}

@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-Regular.ttf');
}

*{
    font-family: 'Rubik, sans-serif';
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

@media (min-width: 2100px){
	body{
		margin: 0 5%;
		box-shadow: 0 0 100px gray;
	}
}

@media (min-width: 2200px){
	body{
		margin: 0 10%;
		box-shadow: 0 0 100px gray;
	}
}

/* Header */

header{
	margin: 0 auto;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-weight: bolder;
	background-color: var(--color3);
}

@media (max-width: 600px){
	header{
		padding: 10px 10px;
	}
}

.navigation a{
	color: var(--color2);
	text-decoration: none;
	margin: 0 30px;
	font-size: 25px;
	position: relative;
}

@media (max-width: 840px) {
	.navigation a{
		margin: 10px 30px;
		text-align: center;
	}
	.navigation{
		display: flex;
		flex-direction: column;
		margin: 20px 0;
	}
}

.underline-static{
	cursor: default;
}

.underline-static::after{
	content: "";
    position: absolute;
	left: 0%;
	top: 30px;
    height: 3px;
	width: 100%;
    background-color: white;
}

.underline-effect::after{
	content: "";
    position: absolute;
	left: 0%;
	top: 30px;
    height: 3px;
	width: 100%;
    background-color: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.underline-effect:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.circle{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px var(--color2) solid;
	cursor: pointer;
	overflow: hidden;
	transition: 0.5s;
}

.circle::after{
	content: "";
    position: absolute;
	left: 0;
    height: 110%;
	width: 110%;
	border-radius: 50%;
    background-color: var(--color1);
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.5s;
}

.circle:hover{
	border-color: var(--color1);
}

.circle:hover::after{
	transform: scaleY(1);
	transition: transform 0.5s;
	transform-origin: bottom;
}

.circle a{
	color: var(--color2);
	z-index: 5;
}

/* Footer */

footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 40px 10%;
	background-color: #555a78; 
    color: white;
}

@media (max-width: 700px) {
	footer{
		flex-direction: column;
		padding: 0 10%;
	}
	.vk, footer form{
		margin: 20px 0;
		width: 100% !important;
	}
}


.vk{
	width: 40%;
	flex-shrink: 0;
}

.vk img{
	margin: 5px;
}

footer form{
	width: 60%;
	flex-shrink: 0;
}

footer form input {
	box-shadow: none;
	border: 0;
	color: black;
	text-align: center;
	font-size: 18px;
	background: var(--color2);
	height: 48px;
	width: 70%;
	padding: 14px;
	border-radius: 5px;
	margin: 5px;
}

footer form textarea {
	height: 96px; 
	width: 70%; 
	border: none; 
	border-radius: 5px; 
	background: var(--color2); 
	padding: 14px;
	resize: none; 
	font-size: 18px;
	margin: 5px;
}

footer form input:focus, footer form textarea:focus {
	outline: none;
	border-color: black;
} 

footer form button{
	font-weight: bolder;
	font-size: 18px;
	color: var(--color2);
	background: var(--color1);
	display: inline-block;
	float: none;
	transition: all 0.25s;
	border: 0;
	border-radius: 5px;
	padding: 12px 20px;
	overflow: hidden;
}

footer form button:hover {
	cursor: pointer;
	background-color: var(--color2);
	color: var(--color1);
	box-shadow: 0px 0px 20px rgb(180, 180, 180);
}

/* Таблицы */ 

table{
	overflow-x: auto;	
	width: 100%;
	border: 3px solid var(--color3);
	text-align: center;
	font-size: 18px;
}

thead{
	background-color: var(--color3);
	color: var(--color2);
}

thead th{
	border: 1px solid var(--color2);
	border-bottom: 1px solid var(--color3);
	border-top: 1px solid var(--color3);
}

td{
	padding: 15px 5px;
	border: 1px solid var(--color3);
}	

/* Banner */

.banner{
	display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.banner img{
	display: block;
    width: 100%;
	height: auto;
}

.welcome-text{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 35%;
    text-align: center;
    z-index: 1;
}

.welcome-message {
    color: var(--color2);
    font-size: 60px;
    font-weight: 700;
}

#second-message, #third-message{
	display: none;
}

@media (max-width: 767px){
    .welcome-message{
        font-size: 28px;
    }
}

/* Main */

.main{
	margin: 10px 5%;
}

.main h1, #admin h1{
	text-align: center;
	margin: 15px 0;
}

/* Таблица журнала */ 

#disciplineNames, #fullname{
	width: 15%;
}

#levels{
	width: 55%;
}

#skips, #avgLevel, #totalLevel{
	width: 10%;
}

/* Таблица расписания */

#dateSchedule{
	width: 7%;
}

#dayOfWeek{
	width: 3%;
}

.timeLessons{
	width: 18%;
}

.discipline{
	font-weight: bold;
}

#teacherName, #groupName{
	font-size: 15px;
}

#audience{
	text-decoration: underline;
}

#description{
	display: none;
}

.tableLessons{
	cursor: pointer;
}

/* Блок селекторов */ 

.selectors{
	margin: 10px;
}

.selectors form{
	display: flex;
	align-items: center;
    justify-content: center;
}

.selectors form select{
	margin: 5px;
	box-shadow: none;
	border: 2px solid var(--color3);
	color: black;
	text-align: center;
	background: #ffffff;
	height: 48px;
	width: 250px;	
	border-radius: 5px;		
	font-size: 20px;
}

.selectors form select>option{
	font-size: 20px;	
}

.selectors form button{
	background: var(--color2);
	height: 48px;
	font-size: 20px;
	transition: 0.3s;
	border: 2px solid var(--color3);
	border-radius: 5px;
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.selectors form button:hover{
	background-color: var(--color3);
	transition: 0.3s;
	color: white;
}


@media (max-width: 767px){
	.selectors form{
		display: block;
	}
    .selectors form select{
		display: block;
		margin: 10px auto;
	}
	.selectors form button{
		display: block;
		margin: 0 auto;
	}
}

/* Pop-ups */

.popup, .popupScore, .popupSchedule, .popup-sure {
	position: fixed;
	font-size: 20px;
	z-index: 10;
	top: -150%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.8);
	width: 450px;
	padding: 20px 30px;
	background: var(--color2);
	box-shadow: 2px 2px 5px 5px rgba(0,0, 0, 0.15);
	border-radius: 20px;
	transition: top 0ms ease-in-out 200ms,
	opacity 50ms ease-in-out 20ms,
	transform 50ms ease-in-out 20ms;
}

.popupSchedule{
	width: 600px;
}

@media (max-width: 600px){
	.popup, .popupScore, .popupSchedule, .popup-sure{
		width: 70%;
	}
}

.active{
	position: fixed;
	top: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
	transition: top 0ms ease-in-out 0ms,
				opacity 200ms ease-in-out 0ms,
				transform 200ms ease-in-out 0ms;
}

.close-btn{
	position: absolute;
	top: 10px;
	right: 4px;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
	transition: 0.2s;
}

.close-btn i:hover{
	color: var(--color1);
	transition: 0.2s;
}

.icon-cancel-circled{
	font-size: 35px;
}

.popup .form h2, .popupScore h2, .popup-sure h2{
	text-align: center;
	color: #222;
	margin: 20px 0px 10px;
	font-size: 30px;
	font-weight: bold;
}

.popup .form .form-element{
	margin: 15px 0px;
}

.popup .form .form-element label {
	font-size: 25px;
	color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popupScore form input[type="text"]{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-size: 25px;
}

.popup .form .form-element button,
.popupScore form button,
.popup-sure button{
	width: 100%;
	margin: 20px 0;
	padding: 10px 0;
	border: none;
	outline: none;
	font-size: 25px;
	background: var(--color1);
	color: #f5f5f5;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	font-weight: bold	;
}

.popup .form .form-element button:hover{
	transform: scale(1.0001);
	transition: 0.5s;
	box-shadow: 0 0 4px black;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 3;
  }

/* Стили для popup */

#dataForPopup{
	padding: 20px 0;
}

#dataForPopup p{
	font-weight: bold;
}

#dataForPopup p span{
	font-weight: normal;
}

.selectScore{
	background: 0;
	border: 0;
	appearance: none; 
	width: 50%; 
	margin: 0 auto; 
	text-align: center;
}

.selectScore option[value="2"]{
	color: red;
}
.selectScore option[value="3"]{
	color: orange;
}
.selectScore option[value="4"]{
	color: #cccc00;
}
.selectScore option[value="5"]{
	color: blue;
}
.selectScore option[value="н"]{
	color: brown;
}

#windowSchedule, #ThemesHomeWork{
	text-align: center;
	margin: 20px 0 10px 0;
}

#windowSchedule p, #ThemesHomeWork p{
	font-size: 25px !important;
	display: block !important;
}

#ThemesHomeWork{
	margin: 0 0 20px 0;
}

#ThemesHomeWork input[type="text"]{
	margin: 10px auto;
	display: block;
	width: 70%;
	padding: 10px;
	outline: none;
	border: 1px solid var(--color3);
	border-radius: 10px;
	font-size: 20px;
}

#ThemesHomeWork button{
	width: 70%;
	color: #ffffff;
	background: var(--color3);
	display: inline-block;
	float: none;
	transition: all 0.25s;
	border: 0;
	border-radius: 10px;
	padding: 10px 20px;
	font-weight: bolder;
	border: 2px solid var(--color3);
	margin: 10px auto 0;
}

#ThemesHomeWork button:hover{
	color: var(--color3);
	background-color: var(--color2);
}

/* Menagement */

#admin{
	margin: 10px 10%;
	font-size: 20px;
}

.gridManagement{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(100px, auto);
	gap: 100px;
	text-align: center;
	margin-top: 30px;
}

@media (max-width: 800px){
	.gridManagement{
		grid-template-columns: 1fr;
	}
}

.box{
	border: 2px solid var(--color3);
	border-radius: 15px;
	padding: 40px 0;
	color: #000;
	background-color: var(--color2);
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.box:hover{
	box-shadow: 0 0 5px var(--color1);
	transition: 0.3s;
}

#admin h4{
	margin: 5px;
	font-size: 22px;
}

#admin button{
	color: #ffffff;
	background: var(--color3);
	display: inline-block;
	float: none;
	transition: all 0.25s;
	border: 0;
	border-radius: 5px;
	margin: 5px;
	padding: 8px 20px;
	font-weight: bolder;
	border: 2px solid var(--color2);
	cursor: pointer;
	font-size: 20px;
}

#admin button:hover {
	background: #ffffff;
	color: var(--color3);
	border: 2px solid var(--color3);
	box-shadow: 0px 0px 2px gray;
}

#admin input[type="text"], #admin select {
	margin: 5px;
	background: none;
	box-shadow: none;
	border: 2px solid var(--color3);
	font-size: 18px;
	color: black;
	text-align: center;
	background: #ffffff;
	height: 48px;
	width: 70%;
	border-radius: 5px;
}

#admin input[type="file"]{
	margin: 5px;
	font-size: 16px;
	color: black;
	text-align: center;
}

#admin input:focus, select {
	outline: none;
	border-color: black;
} 

/* Попап с оценкой */

.popupScore form input[type="text"]{
	margin-top: 0;
}

.popupScore h2{
	margin-bottom: 10px;
}

.popupScore form button{
	background-color: var(--color3);
}

.popupScore form select{
	width: 25%;
	text-align: center;
	padding: 12.5px;
	border: 2px solid #aaa;
	border-radius: 5px;
	display: block;
    margin: 20px auto;
	text-indent: 10px;
	font-size: 25px;
}

.popupScore form select option{
	font-size: 25px;
}

.popupScore form select option[value="5"]{
	color: green;
}
.popupScore form select option[value="4"]{
	color: #cccc00;
}
.popupScore form select option[value="3"]{
	color: orangered;
}
.popupScore form select option[value="2"]{
	color: red;
}
.popupScore form select option[value="Н"]{
	color: brown;
}

/* Error Page */

#error{
	display: flex;
	width: 100%;
	margin: 0 10%;
	height: 70vh
}

.imageElefant{
	width: 40%;
	text-align: center;
}

.sorry{
	width: 40%;
	padding: 100px 50px;
	font-size: 6vh;
}

.sorry p{
	margin: auto 0;
	line-height: 50px;
}

#else, #errorID{
	font-size: 4vh;
}

#errorID{
	font-style: italic;
	margin: 5px 0;
}

.sorry button{
	font-size: 25px;
	border-radius: 10px;
	background-color: var(--color3);
	border: 2px solid var(--color3);
	color: white;
	padding: 10px 10px;
	transition: 0.3s;
	cursor: pointer;
}

.sorry button:hover{
	background-color: var(--color2);
	color: var(--color3);
	transition: 0.5s;
	box-shadow: 0 0 4px black;
}

#ups{
	font-weight: bold;
}

.imageElefant img{
	width: 90%;
}

#scoreStyle{
	margin: 0 2px;
	padding: 0 1px;
}