<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
    <title>Филиал МАИ РКТ | Администратор, Журнал</title> 
</head>
<body onload="logOutPopup(), setScoreInPopup('adm'), avgSkips()"> 

    <header>
        <a class="logo"><img src="../static/media/logo.png"></a>
        <nav class="navigation">
            <a id="homepage" class="underline-effect" href="/adminPanel/management">Главная</a>
            <a id="schedule" class="underline-effect" href="/adminPanel/schedule">Расписание</a>
            <a id="journal" class="underline-static" href="/adminPanel/journal">Журнал</a>
        </nav>
        <div class="circle">
            <a href="#" id="authorized"><i id="icon" class="icon-ok"></i></a>
        </div>
    </header>

    <section class="selectors">
        <form method="get" action="/adminPanel/journal">
            <select id="admin-group" name="group" required>
                <option selected disabled hidden value="" name="group">Выберите группу</option>
                {{ range .Groups }}   <!--.Groups - Массив доступных групп -->
                <option name="group" value="{{.Name}}">{{.Name}}</option>
                {{ end }}
            </select>
            <select id="discipline" name="discipline" required>
                <option selected disabled hidden value="" name="discipline">Выберите дисциплину</option>
                {{ range .Disciplines }}   <!--.Disciplines - Массив доступных дис -->
                <option name="discipline" value="{{.DisciplineName}}">{{.DisciplineName}}</option>
                {{ end }}
            </select>
            <button type="submit">
                Вывести
            </button>
        </form>
    </section>
    
    {{if eq .Pre 0}}
    <section class="main">
        <h1 class="text-center">Журнал группы {{.GroupName}} по предмету {{.DisciplineName}}</h1>
        <table id="table" rules="groups">
            <thead>
                <tr>
                    <th id="fullname">ФИО студента</th>
                    {{range .LessonsTime}}
                    <th class="dates">{{.}}</th>
                    {{end}}
                    <th id="skips">Пропуски</th>
                    <th id="avgLevel">Средний балл</th>
                    <th id="totalLevel">Итоговая оценка</th>
                </tr>
            </thead>
            <tbody>
            {{ range .Journal }}
            {{ range $FIO, $grades := . }}
            <tr>
                <td class="FIO">{{$FIO}}</td><!-- ФИО -->
                {{ range $grades }}
                <td level="{{.GradeID}}" discipline="{{.DisciplineID}}" >{{.Level}}</td>
                {{ end }}
                <td></td><!-- пропуски -->
                <td></td><!-- средний балл -->
                <td></td><!-- итоговая оценка -->
            </tr>
            {{end}}
            {{end}}
            </tbody>
        </table>
    </section>
    {{end}}

    <div class="popup">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены, что хотите выйти?</h2>
            <form method="post" action="/logout">
                <div class="form-element">
                    <button id="cancel-button" type="submit">Выйти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" id="overlay" style="display: none"></div>

    <div class="popupScore">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <form id="admin-grade-form">
                <h2>Измените оценку</h2>
                <select class="selectScore" id="admin-grade">
                    <option selected disabled hidden>...</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="н">н</option>
                </select>
                <input type="text" id="admin-comment" placeholder="Измените комментарий">
                <button id="admin-grade-add" type="button">Сохранить</button>
            </form>
        </div>
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/savefile.js"></script>
</body>
</html>