<!DOCTYPE html>
<html lang="en" id="adminPages">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
    <title>Филиал МАИ РКТ | Администратор</title> 
</head>
<body onload="logOutPopup(), changeRole(), areYouSure()">

    <!-- Header -->

    <header>
        <a class="logo"><img src="../static/media/logo.png"></a>
        <nav class="navigation">
            <a id="homepage" class="underline-static" href="/adminPanel/management">Главная</a>
            <a id="schedule" class="underline-effect" href="/adminPanel/schedule">Расписание</a>
            <a id="journal" class="underline-effect" href="/adminPanel/journal">Журнал</a>
        </nav>
        <div class="circle">
            <a href="#" id="authorized"><i id="icon" class="icon-ok"></i></a>
        </div>
    </header>
    
    <!-- Блок с основными функциями-->

    <section id="admin">
        <h1>Добро пожаловать, Администратор!</h1>
        <div class="gridManagement">
            <div class="box">
                <h4>Загрузить файл расписания</h4>
                <form>
                    <select id="admin-save-name" name="group" type="text" required>
                        <option selected disabled hidden>Выберите группу</option>
                        {{range .Groups}}
                        <option value="{{.Name}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    <input id="admin-save-file" name="file" type="file" accept=".xlsx , .xls"/>
                    <br>
                    <button id="submit_button" type="button">Загрузить</button>
                </form>
            </div>
            <div class="box">
                <h4>Увеличить курс на один</h4>
                <p>Передвигает все группы на один курс вперед</p>
                <button id="plusOne" type="button">Передвинуть</button>
            </div>
            <div class="box">
                <h4>Добавление пользователей</h4>
                <form id="reg-user-form">
                    <select  id="role" name="role" required>
                        <option selected disabled hidden>Выберите роль</option>
                        <option value="student">Ученик</option>
                        <option value="parent">Родитель</option>
                        <option value="teacher">Преподаватель</option>
                    </select>
                    <select id="group" name="groupName" style="display: none;" required>
                        <option selected disabled hidden>Выберите группу</option>
                        {{ range .Groups }}   <!--.Groups - Массив доступных групп -->
                        <option name="groupName" value="{{.Name}}">{{.Name}}</option>
                        {{ end }}
                    </select>
                    <input id="changeStudent" style="display: none;" type="text" list="FIO" placeholder="Имя студента">
                    <datalist id="FIO">
                        {{range .Students}} ФИО учеников
                        <option value="{{.FullName}}">{{.FullName}}</option>
                        {{end}}
                    </datalist> 
                    <input type="text" id="name" name="userName" placeholder="ФИО" required>
                    <input type="text" id="login" name="login" placeholder="Логин" required>
                    <input type="text" id="password" name="password" placeholder="Пароль" required>
                    <br>
                    <button id="new-user-reg" type="button">Добавить</button>
                </form>
            </div>
            <div class="box">
                <h4>Добавление новой группы</h4>
                <form id="add-group-form">
                    <select id="groupSpeciality" name="speciality" required>
                        <option selected disabled hidden>Выберите специальность</option>
                        {{ range .Specialities }}   <!--.Specialities - Массив доступных специальностей -->
                        <option name="speciality" value="{{.}}">{{.}}</option>
                        {{ end }}
                    </select>
                    <input type="text" id="groupCourse" name="course" placeholder="Курс">
                    <input type="text" id="groupNumber" name="number" placeholder="Номер группы">
                    <br>
                    <button id="add-group" type="button">Добавить</button>
                </form>
            </div>
            <div class="box">
                <h4>Добавление дисциплины</h4>
                <form>
                    <select id="teacherName" required>
                        <option selected disabled hidden>Выберите преподавателя</option>
                        {{ range .Teachers }}   <!--.NameTeachers - Массив имен учителей -->
                        <option name="teacherName" value="{{.FullName}}">{{.FullName}}</option>
                        {{ end }}
                    </select>
                    <select id="groupSpecialityDisc" name="speciality" required>
                        <option selected disabled hidden>Выберите специальность</option>
                        {{ range .Specialities }}   <!--.Specialities - Массив доступных специальностей -->
                        <option name="speciality" value="{{.}}">{{.}}</option>
                        {{ end }}
                    </select>
                    <input type="text" id="disciplineName" placeholder="Название дисциплины" required>
                    <input type="text" id="groupNumberDics" name="groupNumberDics" placeholder="Курс" required>
                    <br>
                    <button id="add-new-discipline" type="button">Добавить</button>
                </form>
            </div>
            <div class="box">
                <h4>Смена пароля пользователя</h4>
                <form>
                    <input type="text" id="login-repass" name="newlogin" placeholder="Логин" required>
                    <input type="text" id="newPassword" name="password" placeholder="Новый пароль" required><br>
                    <button id="change-password" type="button">Изменить</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Всплывающее окно для выхода -->

    <div class="popup">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены, что хотите выйти?</h2>
            <form method="post" action="/logout">
                <div class="form-element">
                    <button id="cancel-button" type="submit">Выйти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" id="overlay" style="display: none"></div>

    <div class="popup-sure">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены? Это кардинальное изменение</h2>
            <form method="post" action="#">
                <div class="form-element">
                    <button id="iamsure" type="button">Передвинуть</button>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/savefile.js"></script>
</body> 
</html>