<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
    <title>Филиал МАИ РКТ | Администратор</title> 
</head>
<body onload="restyleLinks(), logOutPopup(), oneSelector(), checkSchedule()">

    <!-- Header -->

    <header>
        <nav class="container navbar navbar-expand-lg">
            <div class="col-md-3 justify-content-start">
                <a href="/adminPanel/management" id="brend"><img src="../static/media/logo.png" alt="МАИ РКТ"></a>
            </div>
            <div class="col-md-3 justify-content-center text-center">
                <div class="button-nav">
                    <a href="/adminPanel/schedule" id="schedule">Расписание</a>
                </div>
            </div>
            <div class="col-md-3 justify-content-center text-center">
                <div class="button-nav">
                    <a href="/adminPanel/journal" id="journal">Журнал</a>
                </div>
            </div>
            <div class="col-md-3 justify-content-end">
                <div id="circle">
                    <a href="#" class="nav-link p-0" id="authorized"><i id="icon" class="icon-ok"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <section class="pb-3">
        <div class="button-select text-center">
            <form id="selectForm">
                <select id="group" name="groupName">
                    <option value="false" name="groupName" selected>Выберите группу</option>
                    {{ range .Groups }}   <!--.Groups - Массив доступных групп -->
                    <option name="groupName" value="{{.}}">{{.Name}}</option>
                    {{ end }}
                </select>
                <select id="teacher" name="teacherName">
                    <option value="false" selected>Выберите преподавателя</option>
                    {{ range .Teachers }}   <!--.Teachers - Массив доступных учителей -->
                    <option name="groupName" value="{{.}}">{{.FullName}}</option>
                    {{ end }}
                </select>
                <button id="admin-schedule-submit" type="button">
                    Вывести
                </button>
            </form>
        </div>

        {{if eq .Pre 0}}
        <div class="container mb-4"> <!-- Расписание начинается от сюда. Весь этот блок должен быть выдан с бэка -->
            <h1 class="text-center">Расписание группы/преподавателя N</h1>
            <table id="table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">День недели</th>
                    <th scope="col">8:30 - 10:00</th>
                    <th scope="col">10:10 - 11:40</th>
                    <th scope="col">12:40 - 14:10</th>
                    <th scope="col">14:20 - 15:50</th>
                    <th scope="col">16:00 - 17:30</th>
                    <th scope="col">17:40 - 19:10</th>
                </tr>
                </thead>
                <!--.Schedule - map, где ключ - dayOfWeek, значение - структуры Lesson за этот день -->
                <tbody>
                {{ range .Schedule }}
                {{range $DoW, $lessons := .}}
                <tr>
                    <td scope="row">{{range $lessons}} {{.Data}} {{break}} {{end}}</td>
                    <td scope="row">{{$DoW}}</td>
                    {{range $lessons}}
                    {{if ne .DisciplineName ""}}
                    <td scope="row">{{.DisciplineName | .Audience}}</td>
                    {{else}}
                    <td scope="row"></td>
                    {{end}}
                    {{end}}
                </tr>
                {{end}}
                {{end}}
                </tbody>
            </table>
        </div>
        {{else}}

        {{end}}
    </section>

    <div class="popup">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены, что хотите выйти?</h2>
            <form>
                <div class="form-element">
                    <button id="cancel-button" type="button">Выйти</button>
                </div>
            </form>
        </div>
    </div>

    <div class="popupSchedule">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div id="windowSchedule">
        </div>
    </div>
    <div class="overlay" id="overlay" style="display: none"></div>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/savefile.js"></script>
</body> 
</html>