<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
    <title>Филиал МАИ РКТ | Журнал {{.TeacherName}}</title> 
</head>
<body onload="restyleLinksTeacher(), logOutPopup(), setScoreInPopup('tchr'), changeColor()">  <!-- "tchr" - временно-->

    <!-- Header -->

    <header>
        <nav class="container navbar navbar-expand-lg">
            <div class="col-md-3 justify-content-start">
                <a href="/teacherPanel/menu" id="teacher-brend" class="navbar-brend"><img src="../static/media/logo.png" alt="МАИ РКТ"></a>
            </div>
            <div class="col-md-3 justify-content-center text-center">
                <div class="button-nav">
                    <a href="/teacherPanel/schedule" id="teacher-schedule">Расписание</a>
                </div>
            </div>
            <div class="col-md-3 justify-content-center text-center">
                <div class="button-nav">
                    <a href="/teacherPanel/journal" id="teacher-journal">Журнал</a>
                </div>
    
            </div>
            <div class="col-md-3 justify-content-end">
                <div id="circle">
                    <a href="#" class="nav-link p-0" id="authorized"><i id="icon" class="icon-ok"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Таблица успеваемости -->
    
    <section class="pb-3">
        <div class="button-select">
            <form id="selectFormTchr" action="/teacherPanel/journal" method="get">
                <select id="teacher-group" name="group">
                    <option selected disabled hidden>Выберите группу</option>
                    {{ range .GroupsNames }}   <!--.Groups - Массив доступных групп -->
                    <option name="group" value="{{.}}">{{.}}</option>
                    {{ end }}
                </select>
                <select id="teacher-discipline" name="discipline">
                    <option selected disabled hidden>Выберите дисциплину</option>
                    <option selected disabled hidden name="discipline" value="false">Выберите дисциплину</option>
                    {{ range .Disciplines }}   <!--.Disciplines - Массив доступных групп -->
                    <option name="discipline" value="{{.DisciplineName}}">{{.DisciplineName}}</option>
                    {{ end }}
                </select>
                <button id="teacher-get-journal" type="submit" onclick="selectGroupAndObject()">
                    Вывести
                </button>
            </form>
        </div>

        <form>  <!-- Расписание начинается от сюда. Весь этот блок должен быть выдан с бэка -->
            <h1 class="text-center">Журнал группы {{.GroupName}} по предмету {{.DisciplineName}}</h1>
            <div class="container mb-4 table-responsive">
                <table id="table" class="table table-bordered text-center table-responsive justify-content-center">
                    <thead>
                    <tr>
                        <th style="width: 15%;" scope="col">ФИО студента</th>
                        {{range .LessonsTime}}
                        <th class="dates" scope="col">{{.}}</th>
                        {{end}}
                        <th style="width: 15%;" scope="col">Пропуски</th>
                        <th style="width: 15%;" scope="col">Средний балл</th>
                        <th style="width: 15%;" scope="col">Итоговая оценка</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range .Journal }}
                    {{ range $FIO, $grades := . }}
                    <tr>
                        <td class="FIO">{{$FIO}}</td><!-- ФИО -->
                        {{ range $grades }}
                        <td level="{{.GradeID}}" discipline="{{.DisciplineID}}" >{{.Level}}</td>
                        <td>{{Count $grades}}</td><!-- пропуски -->
                        <td>{{Avg $grades}}</td><!-- средний балл -->
                        <td></td><!-- итоговая оценка -->
                        {{ end }}
                    </tr>
                    {{end}}
                    {{end}}
                    </tbody>
                </table>
            </div>
        </form>
    </section>

    <!-- Всплывающее окно для выхода -->

    <div class="popup">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены, что хотите выйти?</h2>
            <form>
                <div class="form-element">
                    <button type="button">Выйти</button>
                </div>
            </form>
        </div>
    </div>

    <div class="overlay" id="overlay" style="display: none"></div>

    <div class="popupScore">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <form id="admin-grade-form">
                <h2>Выберите оценку</h2>
                <select id="score" name="score">
                    <option selected disabled hidden>...</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="Н">Н</option>
                </select>
                <input id="score-comment" name="comment" type="text" id="comment" placeholder="Оставьте комментарий">
                <button id="teacher-new-score" type="button">Сохранить</button>
            </form>
        </div>
    </div>

    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/savefile.js"></script>
</body>
</html>