<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
    <title>Филиал МАИ РКТ | Журнал {{.StudentName}}</title> 
</head>
<body onload="logOutPopup(), changeColor(), checkLevelStnd(), avgSkipsStdt()">

    <!-- Header -->

    <header>
        <a class="logo"><img src="../static/media/logo.png"></a>
        <nav class="navigation">
            <a id="homepage" class="underline-effect" href="/parentPanel/menu">Главная</a>
            <a id="schedule" class="underline-effect" href="/parentPanel/schedule">Расписание</a>
            <a id="journal" class="underline-static" href="/parentPanel/journal">Журнал</a>
        </nav>
        <div class="circle">
            <a href="#" id="authorized"><i id="icon" class="icon-ok"></i></a>
        </div>
    </header>

    <!-- Журнал начинется тут, должен быть выдан с бэка -->

    <section class="main">
        <h1>Оценки Студента {{.StudentName}}</h1>
        <table id="table" rules="groups">
            <thead>
            <tr>
                <th id="disciplineNames">Предмет</th>
                <th id="levels">Оценки</th>
                <th id="skips">Пропуски</th>
                <th id="avgLevel">Средний балл</th>
                <th id="totalLevel">Итоговая оценка</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Journal }}
            {{ range $FIO, $grades := . }}
            <tr>
                <td>{{$FIO}}</td><!-- ФИО -->
                <td>{{range $grades}}<span class="score" id="scoreStyle" date="{{TFormat .Date}}" com="{{.Comment}}">{{.Level}}</span>{{end}}</td>
                <td></td><!-- пропуски -->
                <td></td>
                <td></td><!-- итоговая оценка -->
            </tr>
            {{end}}
            {{end}}
            </tbody>
        </table>
    </section>

    <!-- Выйти из аккаунта -->

    <div class="popup">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены, что хотите выйти?</h2>
            <form method="post" action="/logout">
                <div class="form-element">
                    <button id="cancel-button" type="submit">Выйти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" id="overlay" style="display: none"></div>

    <div class="popupScore">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div id="dataForPopup">
            <p>Ваша оценка: <span id="yourScore"></span></p>
            <p>Комментарий: <span id="comment"></span></p></span>
            <p>Дата оценки: <span id="date"></span></p></span>
        </div>
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/savefile.js"></script>
</body>
</html>