<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="shortcut icon" href="../static/media/icon.png" type="image/x-icon">
    <title>Филиал МАИ РКТ | Расписание Группа {{.GroupName}}</title>
</head>
<body onload="logOutPopup(), checkScheduleTeacher(), colorForSchedule()">

    <!-- Header -->

    <header>
        <a class="logo"><img src="../static/media/logo.png"></a>
        <nav class="navigation">
            <a id="homepage" class="underline-effect" href="/teacherPanel/menu">Главная</a>
            <a id="schedule" class="underline-static" href="/teacherPanel/schedule">Расписание</a>
            <a id="journal" class="underline-effect" href="/teacherPanel/journal">Журнал</a>
        </nav>
        <div class="circle">
            <a href="#" id="authorized"><i id="icon" class="icon-ok"></i></a>
        </div>
    </header>

    <section class="main">
        <h1 class="greeting">Расписание {{.GroupName}}</h1>
        <table id="table" rules="groups">
            <thead>
                <tr>
                    <th id="dateSchedule">Дата</th>
                    <th id="dayOfWeek">ДН</th>
                    <th class="timeLessons">8:30 - 10:00</th>
                    <th class="timeLessons">10:10 -11:40</th>
                    <th class="timeLessons">12:40 - 14:10</th>
                    <th class="timeLessons">14:20 - 15:50</th>
                    <th class="timeLessons">16:00 - 17:30</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Schedule }}
                {{range $DoW, $lessons := .}}
                <tr>
                    <td>
                        {{range $lessons}}
                        {{if ne .DisciplineName ""}}
                        {{TFormat .Time}}{{break}}
                        {{end}}
                        {{end}}
                    </td>
                    <td>{{$DoW}}</td>
                    {{range $lessons}}
                    {{if ne .DisciplineName ""}}
                    <td class="tableLessons" typeLessons="{{.Description}}" themes="{{.Subject}}" homeworks="{{.HomeWork}}" lessonID="{{.LessonId}}">
                        <p class="discipline">{{.DisciplineName}}</p>
                        <p id="groupName">{{.GroupName}}</p>
                        <p id="audience">{{.Audience}}</p>
                        <p id="description">{{.Description}}</p>
                    </td>
                    {{else}}
                    <td></td>
                    {{end}}
                    {{end}}
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </section>

    <!-- Всплывающее окно для выхода -->

    <div class="popup">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div class="form">
            <h2>Вы уверены, что хотите выйти?</h2>
            <form method="post" action="/logout">
                <div class="form-element">
                    <button id="cancel-button" type="submit">Выйти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" id="overlay" style="display: none"></div>

    <!-- Всплывающее окно для расписания -->

    <div class="popupSchedule">
        <div class="close-btn" id="cancel"><i class="icon-cancel-circled"></i></div>
        <div id="windowSchedule">
        </div>
        <div id="ThemesHomeWork">
            <p>Текущая тема: <span id="theme"></span></p>
            <input id="themesNew" type="text" placeholder="Изменить тему занятия">
            <p>Текущее ДЗ: <span id="homework"></span></p>
            <input id="homeworkNew" type="text" placeholder="Изменить домашнее задание">
            <button style="font-size: 20px;" id="sendNewHMandT" type="button">Добавить ДЗ и/или тему занятия</button>
        </div>
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/savefile.js"></script>
</body>
</html>